<div
  class="container-fluid carousel slide"
  data-bs-ride="carousel"
  id="carouselExample"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.pexels.com/photos/34577/pexels-photo.jpg?cs=srgb&dl=pexels-negativespace-34577.jpg&fm=jpg"
        class="ratio ratio-4*3"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://images.pexels.com/photos/5632397/pexels-photo-5632397.jpeg?cs=srgb&dl=pexels-karolina-grabowska-5632397.jpg&fm=jpg"
        class="ratio ratio-21*9"
      />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    data-bs-slide="prev"
    data-bs-target="#carouselExample"
    type="button"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button
    class="carousel-control-next"
    data-bs-slide="next"
    data-bs-target="#carouselExample"
    type="button"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
