<div class="container-fluid ">
  <nav class="navbar navbar-expand-lg bg-secondary-subtle">
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarcollapse"
      role="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarcollapse">
      <ul class="navbar-nav me-2">
        <li class="nav-item">
          <a class="nav-link p-3" routerLink="">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link p-3" routerLink="product-upsert">Product Upsert</a>
        </li>
      </ul>
      <div class="d-flex mx-3">
        <!-- <div class="me-2">{{user.email}}</div> -->
        <button class="btn btn-success" type="button" routerLink="user" *ngIf="!user">Login</button>
        <a class="btn btn-danger" *ngIf="user" (click)="onlogout()">Logout</a>
      </div>
    </div>
  </nav>
</div>
